{% extends 'base.html' %}
{% block content %}
<body>
<h1>펜션정보</h1><br>
<p>숙소 이름 {{ pension_name }}</p> <br>
<p>지역 -> {{ pension_detail[0].location}}</p>
<p>주소 -> {{ pension_detail[0].addr}} </p>
<p>가격 -> {{ pension_detail[0].price }}</p>
<p>평점 -> {{ pension_detail[0].rating}}</p>

<p>시설</p>
<ul>
    <li>시설1 - {{ pension_detail[0].ammen1}}</li>
    <li>시설2 - {{ pension_detail[0].ammen2}}</li>
    <li>시설3 - {{ pension_detail[0].ammen3}}</li>
    <li>시설4 - {{ pension_detail[0].ammen4}}</li>
    <li>시설5 - {{ pension_detail[0].ammen5}}</li>
</ul>
<input type="button" class="btn btn-dark"
                       value="뒤로가기" onclick="history.back();" />
</body>
{% endblock %}

