{% extends 'base.html' %}
{% block content %}
<head><h1>취향을 골라주세요</h1></head>
<body>

<div class="badge bg-light text-dark p-2 text-start">
    <form action='/result' method="post">
        반려견 <select name="pet" id="pet_id">
                <option value="petType1">동반</option>
                <option value="petType2">미동반</option>
        </select><br>
        여행타입
        <select name="tour" id="lang">
            <option value="tourType1">유형1</option>
            <option value="tourType2">유형2</option>
            <option value="tourType3">유형3</option>
            <option value="tourType4">유형4</option>
            <option value="tourType5">유형5</option>
            <option value="tourType6">유형6</option>
            <option value="tourType7">유형7</option>
            <option value="tourType8">유형8</option>
        </select><br>
        관광타입
            <select name="tour" id="tour">
                <option value="tourType1">유형1</option>
                <option value="tourType2">유형2</option>
                <option value="tourType3">유형3</option>
                <option value="tourType4">유형4</option>
                <option value="tourType5">유형5</option>
                <option value="tourType6">유형6</option>
                <option value="tourType7">유형7</option>
                <option value="tourType8">유형8</option>
            </select><br>
        여행타입
            <select name="trip" id="trip">
                <option value="tourType1">유형1</option>
                <option value="tourType2">유형2</option>
                <option value="tourType3">유형3</option>
                <option value="tourType4">유형4</option>
                <option value="tourType5">유형5</option>
                <option value="tourType6">유형6</option>
                <option value="tourType7">유형7</option>
                <option value="tourType8">유형8</option>
            </select><br>
        <input type = 'submit'>
    </form>
</div>
<div class="pagination justify-content-center">
    <ul>
        <li> <a href = "http://localhost:5000/pension">숙소</a></li>
        <li> <a href = "http://localhost:5000/tour">관광/체험</a></li>
        <li> <a href = "http://localhost:5000/office">생활필수</a></li>
        <li> <a href = "http://localhost:5000/restaurant">식당</a></li>
    </ul>
</div>
</body>
{% endblock %}