{% extends 'base.html' %}
{% block content %}

<style>
 table{ border-collapse : collapse; }  /*이중선 제거*/
 th,td{
      width: 200px;
      height: 50px;
      text-align: center;
      border: 1px solid #000;

      vertical-align: top;	/* 위 */
      vertical-align: bottom;   /* 아래 */
      vertical-align: middle;   /* 가운데 */
    }
</style>

<head>
    <div class="p-3 text-bg-dark">
        <h2>당신의 여행 타입은 아래와 같습니다.</h2>
    </div>
</head>
    <body>
        <div >
            <h2> 필수선택</h2>
            <ul>
                <li>여행타입 : {{tourType}}</li>
                <li>관광타입 : {{spot1Type}}</li>
                <li>관광세부타입 : {{spot2Type}}</li>
                <li>맛집타입</li>
            </ul>
        </div>
        <div>
            <h2> 추가선택</h2>
            <ul>
                <li></li>
                <li>반려동물 동반: {{pet_str}}</li>
                <li>기념품샵 : {{gift_str}}</li>
                <li>경찰서 : {{police_str}}</li>
                <li>버스 : {{bus_str}}</li>
            </ul>
        </div>
        <div >
            <table class ='' >
                <thead>
                    <tr>
                        <th>      </th>
                        <th>선택값</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>여행타입</td>
                        <td>{{tourType}}</td>
                    </tr>
                    <tr>
                        <td>관광타입</td>
                        <td>{{spot1Type}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <input type="button" class="btn btn-primary"
                   value="다시 선택" onclick="history.back();" />

            <input type="button" class="btn btn-success"
                   value="숙소선택으로" onclick="location.href='/select/select3'" />

        </div>

    </body>
</html>
{% endblock %}