{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <div class=" container p-3 text-bg-dark">
        <h1>{{pension_name}} 주변 올레길 정보</h1>
    </div>
</head>
    <body>
    <div class="container my-3">

        <table class="table">
            <thead>
                <tr class="table-dark">

                    <th>제목</th>
                    <th>주소</th>
                    <th>거리</th>

                </tr>
            </thead>
            <tbody>
                {% for i in range(df_haver|length) %}
                {% if df_haver_short.name[i]|length > 0 %}
                    {% if df_haver_short.haver[i] < 10 %}
                        <tr>

                            <td>
                                 {{ df_haver_short.name[i] }}
                            </td>

                            <td>
                                 {{ df_haver_short.addr[i] }}
                            </td>
                            <td>
                                 {{ df_haver_short.haver[i] }} Km
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

    </div>

        <div class = 'container'>
            <div>
            {{ iframe|safe }}
            </div>
        </div>

    </body>
</html>

{% endblock %}