{% extends 'base.html' %}
{% block content %}
<html>
<body>
<div class="container my-3">
    <h1> 기온 그래프</h1>
    <div class="card">

        <img src="data:image/jpeg;base64,{{ img_data }}" alt="Image Placeholder" onclick="openImageInNewWindow('{{ img_data }}')">

    </div>
</div>
</body>
</html>
<script>
    function openImageInNewWindow(imageData) {
        var newWindow = window.open();
        newWindow.document.write('<html><body><img src="data:image/jpeg;base64,{{ img_data }}" alt="Image Placeholder" /></body></html>');
    }
</script>
{% endblock %}