{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <div class=" container p-3 text-bg-dark">
        <h1> 주변 날씨 통계</h1>
    </div>
</head>
<body>
<div class="container my-3">
    <p> 기상 관측소 정보 {{ wp_haver_short.name.values[0] }} ///  {{ wp_haver_short.addr.values[0] }} ///  {{ wp_haver_short.haver.values[0] }} Km</p>
    <p> 미세먼지 관측소 정보 {{ pm_haver_short.name.values[0] }} ///  {{ pm_haver_short.addr.values[0] }} ///  {{ pm_haver_short.haver.values[0] }} Km</p>
        <table class="table">
            <thead>
                <tr class="table-dark">
                    <th>월별</th>
                    <th>기온</th>
                    <th>강수량</th>
                    <th>미세먼지</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ weather_detail[0].month }}</td>
                    <td> {{ weather_detail[0].temperature }} </td>
                    <td> {{ weather_detail[0].rain }} </td>
                    <td> {{ pm_detail[0] }} </td>
                </tr>
            </tbody>
        </table>
    <div>
        <form action='{{ url_for("info.fig", point = wp_haver_short.name.values[0]) }}' method="post" class = 'dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px'>
            <input type= "hidden" name="wp_name" value="{{ wp_haver_short.name.values[0] }}">
            <input type = 'submit' class="btn btn-success" value = '기상정보' >
        </form>
    </div>
    <div>
        <form action='weather/test' method="post" class = 'dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px'>
            <input type= "hidden" name="pm_name" value="{{  pm_haver_short.name.values[0] }}" >
            <input type = 'submit' class="btn btn-success" value = '미세먼지정보' >
        </form>
    </div>


   >
</div>

</body>
</html>
{% endblock %}